{% extends 'DAMN/index.html' %}
{% block content %}
{% load static %}
<div class="container-fluid text-center mt-5">
    <h1>Our Associated Banks:</h1>
    <hr>
    <p><b>Nepal Rastra Bank</b></p>
    <p><b> Agriculture Development Bank Ltd</b></p>
    <p><b>Rastriya Banijya Bank</b></p>
    <p><b>Nabil Bank Ltd</b></p>
    <p><b> Kumari Bank Ltd</b></p>
    <p><b>Prabhu Bank Ltd</b></p>
    <p><b>Nepal Investment Bank Ltd</b></p>
    <p><b> Standard Chartered Bank Nepal Ltd</b></p>
    <p><b>Himalayan Bank Ltd</b></p>
    <p><b>Nepal SBI Bank Ltd</b></p>
    <p><b>Nepal Bangaladesh Bank Ltd</b></p>
    <p><b>Everest Bank Ltd</b></p>
    <p><b>Nepal Bank Ltd</b></p>
    <p><b>Laxmi Bank Ltd</b></p>
    <p><b> Citizens Bank International Ltd</b></p>
    <p><b>Prime Commercial Bank Ltd</b></p>
    <p><b>Sunrise Bank Ltd</b></p>
    <p><b>Century Commercial Bank Ltd</b></p>
    <p><b>Sanima Bank Ltd</b></p>
    <p><b>Machhapuchhre Bank Ltd</b></p>
    <p><b>NIC Asia Bank Ltd</b></p>
    <p><b> Global IME Bank Ltd</b></p>
    <p><b>NMB Bank Ltd</b></p>
    <p><b>Prabhu Bank Ltd</b></p>
    <p><b>Siddhartha Bank Ltd</b></p>
    <p><b>Bank of Kathmandu Ltd</b></p>
    <p><b>Civil Bank Ltd</b></p>
    <p><b> Mega Bank Nepal Ltd</b></p>
    <hr class=" mb-3">
</div>
{% endblock %}