{% extends 'DAMN/index.html' %}
{% block content %}
{% load static %}
<div class="container-fluid text-center mt-5">
    <h1>Our Associated Hospitals:</h1>
    <hr>
    <p><b>VAYODHA HOSPITALS PVT. LTD.</b></p>
    <p><b>BIR HOSPITAL</b></p>
    <p><b>MEDICARE NATIONAL HOSPITAL & RESEARCH CENTER PVT. LTD</b></p>
    <p><b>T.U.TEACHING HOSPITAL</b></p>
    <p><b>PATAN HOSPITAL</b></p>
    <p><b>BHAROSA HOSPITAL PVT.LTD</b></p>
    <p><b>ALKA HOSPITAL</b></p>
    <p><b>HAMS HOSPITAL</b></p>
    <p><b>NORVIC INTERNATIONAL HOSPITAL</b></p>
    <p><b>GRANDE INTERNATIONAL HOSPITAL</b></p>
    <p><b>NEPAL MEDICITI HOSPITAL PVT. LTD</b></p>
    <p><b>ISHAN CHILDREN & WOMAN'S HOSPITAL (P).LTD.</b></p>
    <p><b>SHAHID GANGALAL NATIONAL HEART CENTER</b></p>
    <p><b>PAROPAKAR MATERNITY AND WOMEN'S HOSPITAL</b></p>
    <p><b>B&B HOSPITAL</b></p>
    <p><b>OM HOSPITAL AND RESEARCH CENTER (P.) LTD.</b></p>
    <p><b>GRANDE CITY HOSPITAL & CLINIC PVT. LTD.</b></p>
    <p><b>B.P. KOIRALA INSTITUTE OF HEALTH SCIENCE</b></p>
    <p><b>KANTI CHILDREN’S HOSPITAL</b></p>
    <p><b>KATHMANDU ENT HOSPITAL</b></p>
    <p><b>KATHMANDU MODEL HOSPITAL</b></p>
    <p><b>NIDAN HOSPITAL</b></p>
    <p><b>NEPAL KOREA SKIN HOSPITAL & MEDICAL CENTER</b></p>
    <p><b>STAR HOSPITAL LIMITED</b></p>
    <p><b>KANTIPUR HOSPITAL</b></p>
    <hr class=" mb-3">

</div>
{% endblock %}